html, body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  width: 65%;
  height: 100%;
  margin: 0 auto;
}

.form {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center
}

.input-field {
  width: 360px;
  margin-bottom: 15px;
  padding: 15px;
  border: 0;
  box-sizing: border-box;
  background: #f2f2f2;
  font-size: 16px;
}

.btn {
  cursor: pointer;
}

.btn-submit {
  background: #175AE1;
  color: white;
}

.btn:hover {
  border: 1px solid black;
  font-weight: bold;
}

.size {
  margin-left: 30px;
  cursor: pointer;
}