body {
  font-family: sans-serif;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 300px;
  top: 100px;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.task-status-green {
  background: green;
  width: 25px;
}

.task-status-red {
  width: 25px;
  background: red;
}

.container {
  border-bottom: 10px solid white;
  margin-top: 25px
}

.todo-item {
  max-width: 960px;
  margin: 0 auto;
  background: lightgray;
  border: 1px solid black;
}

.title {
  font-size: 24px;
  width: 700px
}

.item {
  display: flex;
  margin: 25px;
}

.title-Bar {
  display: flex;
}

.tasks {
  width: 700px;
}

.description {
  font-size: 18px;
}