.modal-box {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 300px;
  top: 100px;
  width: 50%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: black;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  cursor: pointer;
}

.popup-edit-box {
  text-align: center;
  font-size: 25px;
} 
