.todo-container {
  width: 520px;
  height: 250px;
  padding: 10px;
  overflow: scroll;
  background: #f6f8fa;
  border-radius: 10px;
  margin-bottom: 10px
}

.todo-item {
  width:75%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: bold;
  width: 300px;
  padding-left: 10px;
}

.item {
  display: flex;
  border-bottom: 1px dashed black;
  margin: 15px;
}

.title-Bar {
  display: flex;
}

.tasks {
  width: 260px;
  font-size: 16px;
  word-wrap:break-word;
  line-height: 1.2;
}

.description {
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.btn-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.size {
  margin-left: 30px;
  cursor: pointer;
}

.glyphicon {
  font-size: 17px;
}

.task-status {
  width: 20px;
  margin-right: 5px;
  height: 20px;
  border-radius: 100%;
}

.task-status-yellow {
  background:orange;
}

.task-status-green {
  background: green;
}

.done {
  text-decoration: line-through;
}

.undone {
  text-decoration: none;
}

.add-todo {
  display: flex;
  flex-direction: row-reverse;
  width: 900px;
  margin: 15px auto;
  height: 30px;
}

.logout {
  width: 90px;
  float:right;
  font-size: 20px;
  font-weight: normal;
  margin: 10px;
  cursor: pointer;
}

.logout:hover {
  text-decoration: none;
  border: 1px solid #f2f2f2;
  background: aliceblue;
}

.log-in-user-name {
  float: right;
  margin-top: 10px;
  font-size: 20px;
}

.todo-header {
  height: 50px;
  text-align: center;
  font-size: 30px;
  background-color: #fafbfc;
}

.todo-icon {
  height: 53px;
  width: 55px;
  float: left;
  margin-left: 5px;
  margin-top: 5px
}

.display-none {
  display: none;
}